.flex-container{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    /* align-content:space-between; */
}

.flex-container>div{
    height:20vh;
margin-top:10%;
}

  .box1{

    background-color: aquamarine;
    width: 100%;
    /* text-align: center; */
    margin-bottom: 5px;
    /* padding:40px; */
    justify-content: center;
    display: flex;
    align-items:center;
    text-align: center;  
  }

  .box2{

    background-color: aquamarine;
    /* padding:20px center; */
    width: 50%;
    justify-content: center;
    align-self: center;
    display: flex;
    align-items:center;
    text-align: center;
  }

  .box3{

background-color: aquamarine;
/* padding:40px; */
width: 100%;
    margin-top:5px;
    align-items: flex-end;
    justify-content:center;
    display:flex;
    align-items:center;
    text-align: center;

  }